html {
    background: yellow;
}
p {
    padding: 0px;
    margin: 0px;
}
.gradient {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(45deg,green, cyan);
}
.content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.Title {
    color: white;
    display: block;
    padding: 0px;
    font: 50px proxima-nova, gotham, arial;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.Body {
    color: white;
    display: block;
    padding: 10px;
    font: 14px proxima-nova, gotham, arial;
    font-weight: normal;
    text-align: center;
}
.Screwdriver {
    width: 50%;
}